body{
    background-image: url(../img/okeanGo.jpg);
    background-size:cover;
}
#myCanvas { /*background-image:url("https://media.giphy.com/media/3o7TKHijxCRJS3KOHe/giphy.gif")*/
background-image:url("https://media.giphy.com/media/YU1NGo5mVYLFC/giphy.gif");
background-size: cover;

/*background-image:url(../img/red-ocean.jpg);*/
}
.contadores{
    width:100%;
    color:white;
    margin: 25px 0 15px 0;
    display: flex;
    justify-content: space-evenly;
    
}
#counterPlayer{
    font-weight:40;
    font-size:2rem;
    font-family: 'Press Start 2P', cursive;
}
#counterShip{
    font-weight:59;
    font-size:2rem;
    font-family: 'Press Start 2P', cursive;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 25px;
    flex-direction:column;
}
.final-result{
    border:1px solid #DDDDDD;
    border-radius:10px;
    padding:54px;
    background-color:#F5F5F5;
    font-family: 'Press Start 2P', cursive;
    border-radius: 2rem;
}
.score-result{
    font-weight:bolder;
    font-size: 2.4rem;
    padding: 2rem;
}
.btn-restart{
    position: relative;
    padding:20px;
    border-radius:8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    cursor: pointer;
    text-decoration-line: none;
    background: rgb(251,33,117);
    background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%);
}





